<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget app</title>
  </head>

  <body>
    <main id="app">
      <h1>My expenses</h1>
      <form @submit.prevent="addExpense(); filterExpenses();">
        <label>Enter expense <input type="text" v-model="expense" required></label>
        <label>Enter amount <input type="number" v-model="amount" required></label>
        <label>Enter date <input type="date" v-model="date" required></label>
        <label>Select category
          <select v-model="category" required>
            <option v-for="type in expenseTypes" :value="type.toLowerCase()">{{type}}</option>
          </select>
        </label>
        <button type="submit">Add expense</button>
      </form>

      <div>
        <h2>History</h2>
        <ul>
          <li v-for="(expense, index) in dummy">
            <template v-if="!expense.edit">
              <!-- Set proper html elements here -->
              Name: {{expense.expense}}, cost: {{expense.amount}}, category: {{expense.category}} on date
              {{expense.date}}
              <button @click="deleteExpense(index); filterExpenses();">Delete expense</button>
              <button @click="expense.edit = !expense.edit">Edit expense</button>
            </template>

            <template v-if="expense.edit">
              <form @submit.prevent="expenses[index].edit = !expenses[index].edit; filterExpenses();">
                <label>Expense <input type="text" v-model="expenses[index].expense"></label>
                <label>Amount <input type="number" v-model="expenses[index].amount"></label>
                <label>Date <input type="date" v-model="expenses[index].date"></label>
                <label>Category
                  <select v-model="expenses[index].category">
                    <option v-for="type in expenseTypes" :value="type.toLowerCase()">{{type}}</option>
                  </select>
                </label>
                <button type="submit">Save expense</button>
              </form>
            </template>
          </li>
        </ul>
      </div>
      <footer>
        <form @submit.prevent="filterExpenses">
          <label>
            Category:
            <select v-model="filterOptions.category">
              <option value="all">All</option>
              <option v-for="type in expenseTypes" :value="type.toLowerCase()">
                {{type}}      
              </option>
            </select>
          </label>
          <label>
            Minimum cost:
            <input type="range" name="filter" min="0" max="9999999">
          </label>
          <label>
            Maximum cost:
            <input type="range" name="filter" min="0" max="9999999">
          </label>
          <label>
            Date:
            <input type="radio" name="filter">
          </label>
          <button type="submit">Filter</button>
        </form>

      </footer>
    </main>
    <script type="module" src="/src/main.ts"></script>
  </body>

</html>