* {
    margin: 0;
    padding: 0;
    font-family: 'Yatra One';
    box-sizing: border-box;
}

html {
    background-color: #2f3035;
    color: #F8F8F8;
}

h1 {
    margin: 10px;
    color: #E3B04B;
    text-shadow: 10px 5px 0px #5a5040;
}
#create-expense {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#create-expense > label {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 5px;
    width: 100%;
    font-family: 'Oswald';
}
#create-expense > label > * {
    width: 50%;
    font-size: 1.1em;
    margin-left: auto;
    font-family: 'Oswald';
}
#create-expense button{
    border: none;
    font-size: 1.2em;
    color: #F8F8F8;
    text-shadow: 0px 0px 2px black;
    background-color: #E3B04B;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Oswald';
}

h2 {
    margin: 10px;
    color: #E3B04B;
}
.expense {
    display: grid;
    /* forward slash denotes grid-template-columns spacing */
    grid-template:
    "a b c"
    "d e f" / 5fr 3fr 2fr;
    align-items: center;
    padding: 5px 0px;
}
.expense:nth-child(odd) {
    background-color: #404147;
}

.expense-name{
    grid-area: a;
    font-size: 1.5em;
    padding-left: 10px;
}
.expense-amount{
    grid-area: b;
    font-size: 1.4em;
}
.expense-category {
    grid-area: d;
    padding-left: 5px;
    font-family: 'Oswald';
}
.expense-date {
    grid-area: e;
    font-family: 'Oswald';
}
.delete-button {
    grid-area: f;
    border: none;
    font-family: 'Oswald';
    font-size: 1em;
    color: #F8F8F8;
    text-shadow: 0px 0px 1px black;
    background-color: #d1ba95;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: 2px;
    margin-right: 5px;
}
.edit-button {
    grid-area: c;
    border: none;
    font-family: 'Oswald';
    font-size: 1em;
    color: #F8F8F8;
    text-shadow: 0px 0px 1px black;
    background-color: #E3B04B;
    border-radius: 5px;
    padding: 5px 0px;
    margin-right: 5px;
}

.edit-form {
    display: grid;
    grid-template:
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    "e e e e";

    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px;
}
.edit-form > * {
    display: flex;
    margin-left: 10px;
    margin-bottom: 5px;
}

.expense-label {
    grid-area: a;
}
.expense-label input {
    width: 50%;
    margin-left: auto;
}

.amount-label {
    grid-area: b;
}
.amount-label input {
    width: 50%;
    margin-left: auto;
}

.date-label {
    grid-area: c;
}
.date-label input {
    width: 50%;
    margin-left: auto;
}

.category-label {
    grid-area: d;
}
.category-label select {
    width: 50%;
    margin-left: auto;
}

.save-button {
    display: grid;
    margin: 0;
    padding: 5px;
    grid-area: e;
    border: none;
    background-color: rgb(87, 198, 96);
    border-radius: 5px;
    text-align: center;
}

#filter-form {
    display: grid;

    grid-template:
    "a b c"
    "d e f"
    "g g g";
}

.category-filter {
    grid-area: a;
}
.minimum-filter {
    grid-area: b;
}
.maximum-filter {
    grid-area: c;
}
.month-filter {
    grid-area: d;
}
